<<<<<<< HEAD
<<<<<<< HEAD
.list_item {
  padding-left: 20px;
}

.list_item__todo {
  text-decoration: none;
}

.list_item__done {
=======
=======
>>>>>>> 8d10e18b2f8811e79bc9f228ed9850e2a2cf13b6
body {
  width: 100%;
  height: 100vh;
}

.list_item {
  padding-left: 20px;
  cursor: pointer;
}

.list_item__todo p {
  text-decoration: none;
}

.list_item__done p {
<<<<<<< HEAD
>>>>>>> 71b538bf6bb1593d0e9c03b03f95b4714e68e961
=======
>>>>>>> 8d10e18b2f8811e79bc9f228ed9850e2a2cf13b6
  text-decoration: line-through;
}

.done_button {
  margin-right: 10px;
}

.remove_button {
  margin-left: 10px;
}

.checked {
  background-color: royalblue;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 8d10e18b2f8811e79bc9f228ed9850e2a2cf13b6

.hide_add_button {
  display: none;
}
<<<<<<< HEAD
>>>>>>> 71b538bf6bb1593d0e9c03b03f95b4714e68e961
=======
>>>>>>> 8d10e18b2f8811e79bc9f228ed9850e2a2cf13b6
