li,
button {
  cursor: pointer;
}

.container {
  background: white;
}

.second-container {
  background: gray;
}

.todo-text {
  font-size: 20px;
  margin: 0 10px;
}

.wrapper {
  display: flex;
}

.button-active {
  background: yellowgreen;
}

.text-done {
  text-decoration: line-through;
}

.li-active {
  background: yellow;
}

.btn {
  padding:5px;
  background-color: #eee;
}