body {
  font-size: 20px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.76);
}

p {
  color: #ffffff;
}

.second-ol {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 10px;
}

.third-list {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  width: 150px;
  height: 150px;
}

.user-container {
  border-bottom: 1px solid rgb(241, 149, 149);
}

.todo-container {
  border-bottom: 1px solid rgb(24, 122, 250);
}

li {
  cursor: pointer;
}

.hidden {
  display: none;
}

.back {
  margin-bottom: 20px;
  cursor: pointer;
}
