body {
  font-size: 20px;
  color: #ffffff;
  background-color: rgb(7, 7, 7);
}

.second-ol {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 10px;
};

.third-list {
  display: flex;
  flex-wrap: wrap;
};

.photo {
  width: 150px;
  height: 150px;
};
