body {
  font-size: 20px;
  color: #000;
  /* background-color: rgb(7, 7, 7); */
}

p {
  color: #000;
}

.second-ol {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 10px;
}

.third-list {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  width: 150px;
  height: 150px;
}