/*
.body{
    background-color: white;
}
.body-active {
    background-color: red;
}
*/
.button-active{
        background-color: blueviolet;
}  

p{
    font-size: 20px;
    margin: 0 10px;
}

.container{
    display: flex;
}