.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalWindow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  min-width: 800px;
  background: white;
}

.modalHeader {
  /* background: black; */
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

.h {
  display: none;
}

.closeButton {
  background: transparent;
  border: none;
}
